:root {
    --main-color: #212121;
    --accent-color: #2196F3;
    --secondary-color: #757575;
}
/* .link {
    text-decoration: none;
} */
li {
    list-style-type: none;
}
img {
    display: block;
}
button {
    font-family: inherit;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
body {
    font-family: Roboto, sans-serif;
    color: var(--main-color);
}
/* HEADER */
.logo-header,
.logo-header>span {
    font-family: Raleway;
    font-Weight: 700;
    text-decoration: none;
    line-height: 1.19;
    font-size: 26px;
    color: #000;
}
.logo-header>span,
header li>a:hover,
header li>a:focus  {
    color: var(--accent-color)
}
header *{
    font-weight: 500;
    font-size: 14px;
    color: var(--main-color);
    text-decoration: none;
}
.contacts-header{
    color: var(--secondary-color);
}
/* BODY */
.index-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-color: #2F303A;
}
.order-btn {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
}
.order-btn:hover,
.order-btn:focus {
    background-color: #188CE8;
}
.our-advantages h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.our-advantages p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 1.7;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
.team h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}
.team p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    color: var(--secondary-color);
}
/* FOOTER */
footer {
    background-color: #2F303A;
}
.logo-footer {
    font-family: Raleway;
    font-Weight: 700;
    text-decoration: none;
    line-height: 1.19;
    font-size: 26px;
    color: #FFF;
}
.logo-footer>span{
    color: var(--accent-color)
}
address *{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    color: #FFF;
}
.contacts-footer{
    color: rgba(255, 255, 255, 0.6);
}
/* PORTFOLIO */
.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFF;
    background-color: var(--accent-color);
}
.portfolio-list h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
} 
.portfolio-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-color);
}
.portfolio-list-item {
    background-color: #FFF;
    border: 1px solid #EEEEEE;
}
